[submodule "external_lib/aphp"]
	path = external_lib/aphp
	url = http://bubo.owl.ys/git/libraries/aphp.git/
[submodule "external_lib/Smarty"]
	path = external_lib/Smarty
	url = http://bubo.owl.ys/git/libraries/Smarty.git/
