
body {
	padding:0px;
	margin: 0px;
	background: #F3F4EC;
	color: #474E44;
	font-size: 0.8em;
}

a {
    color: #3C657B;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

#header {
    padding: 0px;   
    margin-top: 0.0em;
    padding-top:1em;    
    padding-bottom:1em;
    margin-bottom:0px;
    border-bottom: 1px solid #bab1b1;
    background: #CCCFBC;
    text-align:right;
    padding-right: 2em;
    padding-left: .5em;
}

#header h1 {
    padding:0px;
    margin: 0px;
    margin-bottom:0.3em;
    font-size: 1.2em;
    letter-spacing:0.2em;
}

#header h1 a {
    color: #5B7B57;
    text-decoration: none;
}

#header h1 a:hover {
    text-decoration: none;
    color: #bb4444;
}

h1 {
	font-size: xx-large;
	color: #880000;
	font-weight: bold;
	margin-top: 1px;
	margin-bottom: 3px;
}

h2 {
	display: block;
	width: 100%;
	background: #87A284;
	font-size: large;
	color: white;
	padding: 3px;
}

h3 {
	font-size: large;
	font-weight: bold;
	color: #86924A;
}

#main-box {
    margin-top: 0px;
    padding-top: 0px;
	 width: 98%;
}

#left-column {
    float: left;
    width: 12%;
}

#right-column {
    float: right;
    width: 86%;
    padding-left: 5px;
}

#footer {
    border-top: 1px solid #324031;
    border-bottom: 1px solid #324031;
    color: #eee;
    background: #87a284;
    clear: both;
    padding: 0.3em;
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
    font-size: 1em;
    margin-top: 5px;
}

#footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

#footer p
{
	margin: 0 0 0 2px;
	font-size: x-small;
	text-align: center;
}

#footer p a img {
    margin-top: 5px;
}

/* == Shaded dataTable == */
.dataTable {
	border: 0;
	margin-right: auto;
	margin-left: auto;
}

.dataTableHead {
	background: #87A284;
	font-weight: bold;
	font-size: large;
	text-align: center;
   color: white;
}

.dataTableSubhead {
	background: #CCCFBC;
   color: #5B7B57;
	font-weight: 800;
}

.dataTableRow {
	background: #EBEFD1;
}

.dataTableRowAlt {
	background: #DADFB5;
}

/* Input Table Colors */
.inputTable
{
	margin-right: auto;
	margin-left: auto;
}

.inputTable tr td {
    padding: .25em;
}

.inputTableHead
{
    color: #5B7B57;
    background-color: #CCCFBC;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.inputTableRow {
    background-color: #EBEFD1;
    text-align: left;
}

.inputTableRowAlt {
    background-color: #DADFB5;
    text-align: left;
}

.inputTableSubhead
{
    vertical-align: top; 
    font-weight: bold;
}

.notice_box {
	text-align: center;
	padding-bottom: .5em;
}

.tiny {
	font-size: xx-small;
}

#topnav
{
    display: inline;
    list-style: none;
}

#topnav li
{
    margin: 0;
    padding: 0;
    padding-right: .5em;
    display: inline;
}

.center {
    text-align: center;
}

.inactive {
    color: gray; 
}

.empty-table {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.progress-border {
    height: 15px; 
    width: 135px;
    background: #fff;
    border: 1px solid gray;
    margin: 0;
    padding: 1px;
}

.progress-bar {
    height: 13px;
    margin-top: 1px;
    padding: 0;
    background: green;
}
